apiVersion: v2
name: cloud-agent
description: A Helm chart for Ametnes Platform Agent
type: application
version: 0.3.2
appVersion: 0.3.4527
dependencies:
- name: memcached
  version: 6.3.4
  repository: https://charts.bitnami.com/bitnami
- name: nfs-server-provisioner
  version: 1.8.0
  repository: https://kubernetes-sigs.github.io/nfs-ganesha-server-and-external-provisioner
  condition: nfs-server-provisioner.enabled
